<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SAPA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/main.css">
       <link rel="icon"
      type="image/png"
      href="/favicon.png">
     <script src="scripts/swfobject_modified.js" type="text/javascript"></script>
  </head>
  <body ng-app="gnnApp" data-ng-controller="ArticleCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
	<div class="header">
		<div class="col-xs-12" style="padding-left:0px">
			<ul class="navigation">
				<li><a href="index.html">HOME</a></li>
				<li><a href="pages/about.html">ABOUT US</a></li>
				<li><a href="/twitter"><img src="/astv/images/TwitterLogo.png" width="30">TWITTER</a></li>
				
			</ul>
		</div>
	</div>
    <div id="view" class="container well">
		<div class="row">
			<div class="col-xs-8">
                <h3 data-ng-bind="article.title"></h3>
				<media-player url="{{article.media_filename}}" type="{{article.media_type}}"></media-player>
				<hr/>
				<p ng-bind-html="article.body"></p>
				<a href="index.html">Return Home</a>
				<br/><br/>
			</div>
			
			<div class="col-xs-4 list-group">
				<div class="headline">ARTICLES</div>
				<a href="javascript:void(0);" data-ng-repeat="item in articles" class="list-group-item" data-ng-click="ReadArticle(item.id)" data-ng-bind="item.title"></a>
			</div>
		</div>
    </div>
    <!--[if lt IE 9]>
    <script src="scripts/support.min.js"></script>
    <![endif]-->
    <script src="scripts/vendors.min.js"></script>
    <!-- Project -->
	<script src="scripts/app.js"></script>
    <script src="scripts/controllers/article.js"></script>
    <script src="scripts/directives/mediaplayer.js"></script>
	

    <script src="../../media/sapa/SiteData.js"></script>
 
</body>
</html>
