<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SAPA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/main.css">
       <link rel="icon"
      type="image/png"
      href="/favicon.png">
  </head>
  <body ng-app="gnnApp" data-ng-controller="MainCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
	<div class="header">
		<div class="col-xs-12" style="padding-left:0px">
			<ul class="navigation">
				<li><a href="index.html">HOME</a></li>
				<li><a href="pages/about.html">ABOUT US</a></li>
				<li><a href="/twitter"><img src="/astv/images/TwitterLogo.png" width="30">TWITTER</a></li>
				
			</ul>
		</div>
	</div>
    <div id="view" class="container">
		<!-- Content -->
		<div class="row well">
			<div class="headline">
				Latest
				<hr/>
			</div>
			<div class="col-xs-9">
				<ul class="media-list">
					<li data-ng-repeat="item in articles" class="media">
						<img data-ng-src="{{media_url}}/article-images/{{item.media_filename}}" width="130" class="media-object pull-left" style="margin-right:10px" data-ng-if="article" />
						<div class="media-body">
							<h4 class="media-heading">
								<a href="javascript:void(0);" ng-click="ReadArticle(item.id)" data-ng-bind-html="item.title"></a>
							</h4>
							<span data-ng-bind-html="item.body | blurbIt:140"></span><br/>
							<a href="javascript:void(0);" data-ng-click="ReadArticle(item.id)">Read More</a>
						</div>
						<br/>
						<hr/>
					</li>
				</ul>
			</div>
			<div class="col-xs-3"><img src="images/propoganda.png" class="img-responsive" style="margin-left:15px"></div>
			<!--
			<div class="col-xs-4 list-group">
				<div class="headline">JUSTICE RADIO <span class="glyphicon glyphicon-headphones"></span></div>
				<a href="javscript:void(0);" target="_blank" data-ng-repeat="item in newsletters" data-ng-href="assets/newsletters/{{item.link}}" class="list-group-item" data-ng-bind="item.label"></a>
			</div>
				-->
		</div>
    </div>
    <!--[if lt IE 9]>
    <script src="scripts/support.min.js"></script>
    <![endif]-->
    <script src="scripts/vendors.min.js"></script>
    <!-- Project -->
	<script src="scripts/app.js"></script>
    <script src="scripts/controllers/article.js"></script>
    <script src="scripts/directives/mediaplayer.js"></script>
	

    <script src="../../media/sapa/SiteData.js"></script>
</body>
</html>
