<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SAPA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../styles/bootstrap.min.css" />
    <link rel="stylesheet" href="../styles/main.css">
  </head>
  <body ng-app="gnnApp" data-ng-controller="MainCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
	<div class="header">
		<div class="col-xs-12" style="padding-left:0px">
			<ul class="navigation">
				<li><a href="../index.html">HOME</a></li>
				<li><a href="#">ABOUT US</a></li>
				<li><a href="/twitter"><img src="/astv/images/TwitterLogo.png" width="30">TWITTER</a></li>
				
			</ul>
		</div>
	</div>
    <div id="view" class="container">
		<!-- Content -->
		<!-- Jumbotron -->
		<div class="row well">
			<div class="col-xs-12" style="padding-left:0px">
				<img src="../images/propoganda.png" width="150" class="pull-right" style="margin-left:30px">
				<h3>OUR MISSION</h3>
				<p class="text-justify">Who is the South Atropian People’s Army (SAPA)? We are you. We are your fathers, brothers, sons, your mothers, sisters, and daughters. We have suffered, as have most in South Atropia, under the despotism of the Cela regime. We have seen our friends and loved ones arrested, imprisoned, tortured, and disappeared. We have seen our infrastructure crumble, our schools go unfunded, and our children sicken from lack of medical care, all while the corrupt oligarchs in Cela get rich selling the wealth of Atropia. And we have said “Enough! No More!”</p>
				<p class="text-justify">SAPA, true sons of the South Atropian soil, are determined to fight for the rights of all South Atropians to be free, to the death if necessary. We believe that South Atropia, with its unique culture and customs, belongs to the South Atropians. We believe the only way for South Atropia to develop, the only way its people can reach their fullest potential, is to achieve independence.</p>
				<p class="text-justify">We have units operating in all the major cities of South Atropia, and grow stronger every day, but while the Robbers of Cela continue to dupe the international community into supporting them, our fight is not yet an easy one. We encourage you, the visitor to our page, to spread the word about the abuses and
degradations the people of South Atropia are forced to suffer everyday at the hands of the paid thugs of the Cela regime. People of South Atropia, thank you for your continued support.</p>
			</div>
		</div>
		<!-- Tier 2 Articles -->
		<div class="row well">
  			<div class="row">
  				<div class="col-xs-3 ">
					<a href="../article.html?id={{articles[0].id}}">
						<img data-ng-src="../{{media_url}}/article-images/{{articles[0].media_filename}}" width="200" /><br/>
						<strong data-ng-bind="articles[0].title"></strong>
					</a>
				</div>
  				<div class="col-xs-3">
					<a href="../article.html?id={{articles[1].id}}">
						<img data-ng-src="../{{media_url}}/article-images/{{articles[1].media_filename}}" width="200" /><br/>
						<strong data-ng-bind="articles[1].title"></strong>
					</a>
				</div>
  				<div class="col-xs-3">
					<a href="../article.html?id={{articles[2].id}}">
						<img data-ng-src="../{{media_url}}/article-images/{{articles[2].media_filename}}" width="200" /><br/>
						<strong data-ng-bind="articles[2].title"></strong>
					</a>
				</div>
  				<div class="col-xs-3">
					<a href="../article.html?id={{articles[3].id}}">
						<img data-ng-src="../{{media_url}}/article-images/{{articles[3].media_filename}}" width="200" /><br/>
						<strong data-ng-bind="articles[3].title"></strong>
					</a>
				</div>
  			</div>
		</div>
		
    </div>
    <!--[if lt IE 9]>
    <script src="../scripts/support.min.js"></script>
    <![endif]-->
    <script src="../scripts/vendors.min.js"></script>
    <!-- Project -->
	<script src="../scripts/app.js"></script>
    <script src="../scripts/controllers/main.js"></script>
    
	<script src="../../../media/sapa/SiteData.js"></script>
	
</body>
</html>
