<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
	<!--[if lte IE 8]><script>document.createElement('site-navigation');</script><![endif]-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ATROPIA State Television</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="gnnApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- START SITE CONTENT -->
    <!-- DIV ('.container') must have ng-controller defined as MainCtrl : data-ng-controller="MainCtrl" -->
    <div id="view" class="container" data-ng-controller="MainCtrl">
		<!-- START HEADER ELEMENT -->
        <!-- TABLE ('.header') has two elements 1.Logo and 2.Search see description below -->
		<table class="header">
			<tr>
				<td>
                <!-- 1.Logo -->
                <!-- Modify IMG SRC and ALT -->
                    <img src="images/ans_logo.png" width="306" height="70" alt="Atropian News Network">
                <!-- 1.Logo END -->
                </td>
                <td class="pull-right" data-ng-cloak>
                <!-- 2.Search -->
                <!-- Form contains two elements, an input field that defines 'data-ng-model' as 'query.title' -->
					<form id="searchForm" style="background-color:#FFF; display: block;">
					<input type="text" size="60" data-ng-model="query.title" />
					<img alt="Search" src="images/lupe_gross.png" width="24" height="24" />
                <!-- Results are displayed in an UL element -->
					<ul id="SearchQuery" class="list-group" data-ng-hide="!query.title">
						<li data-ng-repeat="article in articles | filter:query" class="list-group-item">
							<a href="#" data-ng-click="ReadArticle(article.id)" data-ng-bind="article.title"></a>
						</li>
					</ul>
					</form>
                <!-- 2.Search END -->
				</td>
			</tr>
		</table>
		<br/>
        <!-- END HEADER ELEMENT -->



		<!-- START NAVIGATION BAR -->
        <!-- DIV has three elements 1.HomeLink 2.MediaLink(disabled) and 3.SiteNavigation(AngularJS Directive) see description below -->
		<div class="row gradient">
            <!-- 1.HomeLink -->
            <!-- Hard links should be organized inside a UL element -->
            <!-- NOTE *** UL element is pulled to the left -->
			<ul class="list-inline pull-left">
                <li><a href="index.html">Home</a></li>
            </ul>
            <ul class="list-inline pull-right">
                <li></li>
                <li><a href="media.html"><img src="images/media.png" width="15" style="padding:0; margin:0">Media</a></li>
            </ul>
            <!-- 1.HomeLink END -->

            <!-- 2.MediaLink(disabled) -->
            <!-- NOTE *** UL element is pulled to the right w/ empty LI child
			<ul class="list-inline pull-right">
			    <li></li>
			    <li><a href="media.html"><img src="images/radio.png" width="15" style="padding:0; margin:0"> Media</a></li>
			</ul>-->
            <!-- 2.MediaLink END -->

            <!-- 3.SiteNavigation (AngularJS Directive) -->
            <!-- Categories will be displayed automatically based on Article Service -->
            <!-- NOTE *** you can attach 'class' and 'style' attributes to modify the element -->
			<site-navigation class="list-inline pull-right"></site-navigation>
            <!-- 3.SiteNavigation -->
		</div>
		<br/>
        <!-- END NAVIGATION BAR -->

		<div class="row secondary" style="padding:13px 0px">
            <!-- START CURRENT ARTICLES -->
            <!-- Articles can be displayed in order by specifying the index in the 'articles' array -->
            <!-- NOTE *** Ensure your link uses ng-click directive with ReadArticle(articles[i].id) -->
            <!-- ******** IMG src should point to 'article-media' and append articles[i].media_filename -->
            <!-- ******** Display title with any HTML element using data-ng-bind="articles[i].title" -->
  			<div class="col-xs-3">
				<a href="#" data-ng-click="ReadArticle(articles[1].id)">
					<img data-ng-src="{{media_url}}/article-images/{{articles[1].media_filename}}" width="218" /><br/>
					<strong data-ng-bind="articles[1].title"></strong>
				</a>
			</div>
            <!-- ******** Hard Code additional Elements -->
  			<div class="col-xs-3">
				<a href="#" data-ng-click="ReadArticle(articles[2].id)">
					<img data-ng-src="{{media_url}}/article-images/{{articles[2].media_filename}}" width="218" /><br/>
					<strong data-ng-bind="articles[2].title"></strong>
				</a>
			</div>
            <!-- ******** Remember the last index that you use -->
  			<div class="col-xs-3">
				<a href="#" data-ng-click="ReadArticle(articles[3].id)">
					<img data-ng-src="{{media_url}}/article-images/{{articles[3].media_filename}}" width="218" /><br/>
					<strong data-ng-bind="articles[3].title"></strong>
				</a>
			</div>
            <!-- END CURRENT ARTICLES  -->
  			<div class="col-xs-3">
				<a href="#" data-ng-click="ReadArticle(articles[4].id)">
					<img data-ng-src="{{media_url}}/article-images/{{articles[4].media_filename}}" width="218" /><br/>
					<strong data-ng-bind="articles[4].title"></strong>
				</a>
			</div>
			<br/>
		</div>
		<br/>

		<div class="row secondary">
            <!-- START FEATURED ARTICLE -->
            <!-- FEATURED ARTICLE can be accessed with the 'article' model or 'articles[0]' indexed model -->
            <!-- NOTE *** Both models have same properties 'title', 'media_filename', 'id' -->
            <div class="col-xs-12">
				<h2>FEATURED STORY</h2>
				<div>
                    <a href="javascript:void(0);" data-ng-click="ReadArticle(article.id)">
                        <img data-ng-src="{{media_url}}/article-images/{{article.media_filename}}" width="100%" style="position:relative" />
                    </a>
                </div>
                <br/>
                <!-- ******** display title with any HTML element using data-ng-bind="article.title OR articles[0].title" -->
				<h4 data-ng-bind="articles[0].title"></h4>
                <!-- ******** utilize the 'limitTo:(integer)' filter to indicate the number of characters to display -->
				<p data-ng-bind-html="article.body | blurbIt"></p>
                <!-- ******** ensure your link uses ng-click directive with ReadArticle(article.id) -->
				<a data-ng-click="ReadArticle(article.id)">Read More</a><br/><br/>
			</div>
            <!-- END FEATURED ARTICLE -->

        </div>
		<br/>

		<div class="row secondary" style="padding:13px 0px" data-ng-show="articlesLocal && articlesPolitics && articlesWorld">
        <!-- START CATEGORY ARTICLES -->
        <!-- 3 Categories collections are automatically created, 'articlesLocal', 'articlesPolitics', and 'articlesWorld' -->
        <!-- Each collection has the same properties 'id', 'title', and 'media_filename' -->

            <!-- START articlesLocal -->
			<div class="col-xs-4">
				<h4>LOCAL</h4>
                <!-- NOTE *** Ensure your link uses ng-click directive with ReadArticle(articlesLocal.id) -->
				<a href="#" data-ng-click="ReadArticle(articlesLocal.id)">
					<img data-ng-src="{{media_url}}/article-images/{{articlesLocal.media_filename}}" width="296" />
                    <!-- ******** display title with any HTML element using data-ng-bind="articlesLocal.title" -->
					<strong data-ng-bind="articlesLocal.title"></strong>
				</a>
                <!-- ******** utilize the 'limitTo:(integer)' filter to indicate the number of characters to display -->
				<p data-ng-bind-html="articlesLocal.body | limitTo: 140"></p>
                <!-- ******** ensure your link uses ng-click directive with ReadArticle(articlesLocal.id) -->
				<a href="#" data-ng-click="ReadArticle(articlesLocal.id)">Read More</a>
			</div>
            <!-- END articlesLocal -->

            <!-- START articlesPolitics -->
            <div class="col-xs-4">
				<h4>POLITICS</h4>
                <!-- NOTE *** Ensure your link uses ng-click directive with ReadArticle(articlesPolitics.id) -->
				<a href="#" data-ng-click="ReadArticle(articlesPolitics.id)">
					<img data-ng-src="{{media_url}}/article-images/{{articlesPolitics.media_filename}}" width="294" />
                    <!-- ******** display title with any HTML element using data-ng-bind="articlesPolitics.title" -->
					<strong data-ng-bind="articlesPolitics.title"></strong>
				</a>
                <!-- ******** utilize the 'limitTo:(integer)' filter to indicate the number of characters to display -->
				<p data-ng-bind-html="articlesPolitics.body | limitTo: 140"></p>
                <!-- ******** ensure your link uses ng-click directive with ReadArticle(articlesPolitics.id) -->
				<a href="#" data-ng-click="ReadArticle(articlesPolitics.id)">Read More</a>
			</div>
            <!-- END articlesPolitics -->

            <!-- START articlesWorld -->
            <div class="col-xs-4">
				<h4>WORLD</h4>
                <!-- NOTE *** Ensure your link uses ng-click directive with ReadArticle(articlesWorld.id) -->
				<a href="#" data-ng-click="ReadArticle(articlesWorld.id)">
					<img data-ng-src="{{media_url}}/article-images/{{articlesWorld.media_filename}}" width="296" />
                    <!-- ******** display title with any HTML element using data-ng-bind="articlesWorld.title" -->
					<strong data-ng-bind="articlesWorld.title"></strong>
				</a>
                <!-- ******** utilize the 'limitTo:(integer)' filter to indicate the number of characters to display -->
				<p data-ng-bind-html="articlesWorld.body | limitTo: 140"></p>
                <!-- ******** ensure your link uses ng-click directive with ReadArticle(articlesWorld.id) -->
				<a href="#" data-ng-click="ReadArticle(articlesWorld.id)">Read More</a>
			</div>
            <!-- END articlesWorld -->

        <!-- END CATEGORY ARTICLES -->
		</div>
		<br data-ng-show="articlesLocal && articlesPolitics && articlesWorld" />

		<div class="row secondary">
			<div class="col-xs-8">
                <!-- START ARTICLES (MediaList) -->
                <!-- Utilizes Bootstrap's Media List -->
                <!-- Full documentation can be found at http://getbootstrap.com/components/#media-list -->
                <h4>MORE ARTICLES</h4>
                <ul class="media-list">
                    <!-- NOTE *** Utilize the 'StartIndex:(integer)' and 'limitTo:(integer)' filters to indicate article index to start and how many to display -->
                    <li class="media" data-ng-repeat="article in articles | StartIndex:5 | limitTo:4">
                        <img data-ng-src="{{media_url}}/article-images/{{article.media_filename}}" width="290" class="media-object pull-left" style="margin-right:10px;" />
                        <div class="media-body">
                            <h3 class="media-heading"><a href="#" data-ng-click="ReadArticle(article.id)" data-ng-bind="article.title"></a></h3>
                        </div>
                    </li>
                </ul>
                <!-- END ARTICLES (MediaList) -->

			</div>
			<div class="col-xs-4 list-group">
                <!-- START ARTICLE LIST -->
				<h4>NEWS ARCHIVE</h4>
				<a href="#" class="list-group-item" data-ng-click="ReadArticle(item.id)" data-ng-repeat="item in articles | StartIndex:9 | limitTo: 13" data-ng-bind-html="item.title"></a>
                <!-- Add hard coded link to full article list -->
                <a href="category.html" class="list-group-item" style="text-decoration:none;text-align:center;"><strong>MORE</strong></a>
                <!-- END ARTCILE LIST -->
			</div>
		</div>
        <br/>

        <div class="row secondary">
            <div class="col-xs-12">
                <!-- START SLIDER -->
                <!-- Utilizes Bootstrap's Carousel Component -->
                <!-- full documentation can be found at http://getbootstrap.com/javascript -->
                <h4>SCENES FROM ATROPIA</h4>
                <div id="GNN-Slider" class="carousel slide img-thumbnail" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#GNN-Slider" data-slide-to="{{$index}}" class="{{isActive($first)}}" data-ng-repeat="slide in slider"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item {{isActive($first)}}" data-ng-repeat="slide in slider">
                            <img data-ng-src="../../media/astv/slider/{{slide.image}}" alt="{{slide.quote}}" class="img-responsive">
                            <div class="carousel-caption">
                                <h3 data-ng-bind="slide.quote"></h3>
                                <p data-ng-bind="slide.subquote"></p>
                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#GNN-Slider" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <a class="right carousel-control" href="#GNN-Slider" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
                <!-- Double BR elements to add spacing -->
                <br/><br/>
            </div>
        </div>
    </div>
    <!-- END SITE CONTENT -->
    <!--[if lt IE 9]>
    <script src="scripts/support.min.js"></script>
    <![endif]-->
    <script src="scripts/vendors.min.js"></script>

	<!-- OAK-GNN v1.0 -->
    <script src="scripts/app.js"></script>
	<!-- Controllers -->
    <script src="scripts/controllers/main.js"></script>
	<!-- Services -->
    <script src="../../media/astv/SiteData.js"></script>
	<script src="../../media/astv/Slider.js"></script>
    <!-- Directives -->
	<script src="scripts/directives/sitenavigation.js"></script>
    
</body>
</html>