<div class="page page-dashboard"> <div class="pageheader"> <h2>{{page.title}}</h2> <div class="page-bar"> <ul class="page-breadcrumb"> <li> <a ui-sref="app.dashboard"><i class="fa fa-home"></i> XCMS</a> </li> <li> <a ui-sref="app.dashboard">{{page.title}}</a> </li> </ul> <div ng-controller="DaterangepickerCtrl" class="page-toolbar"> <a href="javascript:;" class="btn btn-lightred no-border" daterangepicker="rangeOptions" date-begin="startDate" date-end="endDate"> <i class="fa fa-calendar"></i>&nbsp;&nbsp;<span>{{startDate}} - {{endDate}}</span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i> </a> </div> </div> </div> <div class="row"> <div class="col-xs-12"> <h4>Todays summary</h4></div> </div> <!-- cards row --> <div class="row"> <!-- col --> <div class="card-container col-lg-4 col-sm-6 col-sm-12"> <div class="card"> <div class="front bg-lightred"> <!-- row --> <div class="row"> <!-- col --> <div class="col-xs-4"> <i class="fa fa-users fa-4x"></i> </div> <!-- /col --> <!-- col --> <div class="col-xs-8"> <p class="text-elg text-strong mb-0">00:21:32</p> <span>Avg. Time on Site </span> </div> <!-- /col --> </div> <!-- /row --> </div> <div class="back bg-lightred"> <!-- <div class="row">
            <div class="col-xs-4">
              <a href=javascript:;><i class="fa fa-cog fa-2x"></i> Settings</a>
            </div>
            <div class="col-xs-4">
              <a href=javascript:;><i class="fa fa-chain-broken fa-2x"></i> Content</a>
            </div>
            <div class="col-xs-4">
              <a href=javascript:;><i class="fa fa-ellipsis-h fa-2x"></i> More</a>
            </div>
          </div> --> </div> </div> </div> <!-- /col --> <!-- col --> <div class="card-container col-lg-4 col-sm-6 col-sm-12"> <div class="card"> <div class="front bg-blue"> <!-- row --> <div class="row"> <!-- col --> <div class="col-xs-4"> <i class="fa fa-eye fa-4x"></i> </div> <!-- /col --> <!-- col --> <div class="col-xs-8"> <p class="text-elg text-strong mb-0">582</p> <span>Registered Users</span> </div> <!-- /col --> </div> <!-- /row --> </div> <div class="back bg-blue"> <!-- <div class="row">
            <div class="col-xs-4">
              <a href=javascript:;><i class="fa fa-cog fa-2x"></i> Settings</a>
            </div>
            <div class="col-xs-4">
              <a href=javascript:;><i class="fa fa-chain-broken fa-2x"></i> Content</a>
            </div>
            <div class="col-xs-4">
              <a href=javascript:;><i class="fa fa-ellipsis-h fa-2x"></i> More</a>
            </div>
          </div> --> </div> </div> </div> <!-- /col --> <!-- col --> <div class="card-container col-lg-4 col-sm-6 col-sm-12"> <div class="card"> <div class="front bg-slategray"> <!-- row --> <div class="row"> <!-- col --> <div class="col-xs-4"> <i class="fa fa-eye fa-4x"></i> </div> <!-- /col --> <!-- col --> <div class="col-xs-8"> <p class="text-elg text-strong mb-0">3.68</p> <span>Pages/visit</span> </div> <!-- /col --> </div> <!-- /row --> </div> <div class="back bg-slategray"> <!-- row --> <div class="row"> <!-- col --> <div class="col-xs-4"> <a href="javascript:;"><i class="fa fa-cog fa-2x"></i> Settings</a> </div> <!-- /col --> <!-- col --> <div class="col-xs-4"> <a href="javascript:;"><i class="fa fa-chain-broken fa-2x"></i> Content</a> </div> <!-- /col --> <!-- col --> <div class="col-xs-4"> <a href="javascript:;"><i class="fa fa-ellipsis-h fa-2x"></i> More</a> </div> <!-- /col --> </div> <!-- /row --> </div> </div> </div> <!-- /col --> </div> <!-- /row --> <div class="row"> <div class="col-xs-12"> <h4>Numbers</h4></div> </div> <!-- row --> <div class="row"> <!-- col --> <div class="col-md-12"> <!-- tile --> <section class="tile" fullscreen="isFullscreen01"> <!-- tile header --> <div class="tile-header bg-greensea dvd dvd-btm"> <h1 class="custom-font">Todays <strong>Visits </strong></h1> <ul class="controls"> <li ng-controller="DaterangepickerCtrl"> <a href="javascript:;" daterangepicker="rangeOptions" date-begin="startDate" date-end="endDate"> <span>{{startDate}} - {{endDate}}</span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i> </a> </li> <li class="dropdown" dropdown on-toggle="toggled(open)"> <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a> <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp"> <li> <a href tile-control-toggle> <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span> <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span> </a> </li> <li> <a href tile-control-refresh ng-click="ajaxFaker()"> <fa name="refresh"></fa> Refresh </a> </li> <li> <a href tile-control-fullscreen ng-click="isFullscreen01 = !isFullscreen01"> <fa name="expand"></fa> Fullscreen </a> </li> </ul> </li> <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li> </ul> </div> <!-- /tile header --> <!-- tile widget --> <div class="tile-widget bg-greensea" ng-controller="StatisticsChartCtrl"> <flot dataset="dataset" options="options" height="250px"></flot> </div> <!-- /tile widget --> <!-- tile body --> <div class="tile-body" ng-controller="ActualStatisticsCtrl"> <!-- row --> <div class="row"> <!-- col --> <div class="col-md-12 col-sm-12"> <h4 class="underline custom-font mb-20"><strong>Actual</strong> Statistics</h4> <!-- row --> <div class="row"> <!-- col --> <div class="col-lg-4 text-center"> <div easypiechart options="easypiechart.options" percent="easypiechart.percent" class="easypiechart" style="width: 140px; height: 140px"> <i class="fa fa-newspaper-o fa-4x text-blue" style="line-height: 140px"></i> </div> <p class="text-uppercase text-elg mt-20 mb-0"><strong class="text-blue">6</strong> <small class="text-lg text-light text-default lt"> Avg. Stories Per User</small></p> <p class="text-light"><i class="fa fa-caret-up text-success"></i> 18% today</p> </div> <!-- /col
                <!-- col --> <div class="col-lg-4 text-center"> <div easypiechart options="easypiechart2.options" percent="easypiechart2.percent" class="easypiechart" style="width: 140px; height: 140px"> <i class="fa fa-eye fa-4x text-lightred" style="line-height: 140px"></i> <p class="text-uppercase text-elg mt-20 mb-0"><strong class="text-lightred">8,213</strong> <small class="text-lg text-light text-default lt">Visits</small></p> <p class="text-light"><i class="fa fa-caret-down text-warning"></i> 25% today</p> </div> </div> <!-- /col --> <!-- col --> <div class="col-lg-4 text-center"> <div easypiechart options="easypiechart3.options" percent="easypiechart3.percent" class="easypiechart" style="width: 140px; height: 140px"> <i class="fa fa-user fa-4x text-greensea" style="line-height: 140px"></i> <p class="text-uppercase text-elg mt-20 mb-0"><strong class="text-greensea">430</strong> <small class="text-lg text-light text-default lt">Users</small></p> <p class="text-light"><i class="fa fa-caret-down text-danger"></i> 2% today</p> </div> </div> <!-- /col --> </div> <!-- /row --> </div> <!-- /col --> <!--
            <div class="col-md-4 col-sm-12">

              <h4 class="underline custom-font"><strong>Visitors</strong> Statistics</h4>

              <div class="progress-list">
                <div class="details">
                  <div class="title">LTC</div>
                  <div class="description">visitor from america</div>
                </div>
                <div class="status pull-right">
                  <span>40</span>%
                </div>
                <div class="clearfix"></div>
                <progressbar class="progress-xs not-rounded" value="40" type="dutch"><b>40%</b></progressbar>
              </div>

              <div class="progress-list">
                <div class="details">
                  <div class="title">CH</div>
                  <div class="description">visitor from europe</div>
                </div>
                <div class="status pull-right">
                  <span>38</span>%
                </div>
                <div class="clearfix"></div>
                <progressbar class="progress-xs not-rounded" value="38" type="greensea"><b>38%</b></progressbar>
              </div>

              <div class="progress-list">
                <div class="details">
                  <div class="title">Asia</div>
                  <div class="description">visitor from asia</div>
                </div>
                <div class="status pull-right">
                  <span>12</span>%
                </div>
                <div class="clearfix"></div>
                <progressbar class="progress-xs not-rounded" value="12" type="lightred"><b>12%</b></progressbar>
              </div>

              <div class="progress-list">
                <div class="details">
                  <div class="title">Africa</div>
                  <div class="description">visitor from africa</div>
                </div>
                <div class="status pull-right">
                  <span>7</span>%
                </div>
                <div class="clearfix"></div>
                <progressbar class="progress-xs not-rounded" value="7" type="blue"><b>7%</b></progressbar>
              </div>

              <div class="progress-list">
                <div class="details">
                  <div class="title">Other</div>
                  <div class="description">visitor from other</div>
                </div>
                <div class="status pull-right">
                  <span>6</span>%
                </div>
                <div class="clearfix"></div>
                <progressbar class="progress-xs not-rounded" value="6" type="hotpink"><b>6%</b></progressbar>
              </div>

            </div>
             --> </div> <!-- /row --> </div> <!-- /tile body --> </section> <!-- /tile --> </div> <!-- /col --> </div> <div class="row"> <div class="col-xs-12"> <h4>Analysis (8,213 Visits)</h4></div> </div> <!-- /row --> <div class="row"> <!-- col --> <div class="col-md-4"> <!-- tile --> <section class="tile" fullscreen="isFullscreen02" ng-controller="IntellipediaUsageCtrl"> <!-- tile header --> <div class="tile-header dvd dvd-btm"> <h1 class="custom-font"><strong>Intellipedia </strong>4,000 Visits</h1> <ul class="controls"> <li class="dropdown" dropdown on-toggle="toggled(open)"> <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a> <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp"> <li> <a href tile-control-toggle> <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span> <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span> </a> </li> <li> <a href tile-control-refresh ng-click="ajaxFaker()"> <fa name="refresh"></fa> Refresh </a> </li> <li> <a href tile-control-fullscreen ng-click="isFullscreen02 = !isFullscreen02"> <fa name="expand"></fa> Fullscreen </a> </li> </ul> </li> <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li> </ul> </div> <!-- /tile header --> <!-- tile widget --> <div class="tile-widget"> <div morris-donut-chart donut-data="donutData" style="height: 250px"></div> </div> <!-- /tile widget --> <!-- /tile body --> </section> <!-- /tile --> </div> <!-- /col --> <!-- col --> <div class="col-md-4"> <!-- tile --> <section class="tile" fullscreen="isFullscreen02" ng-controller="SitesUsageCtrl"> <!-- tile header --> <div class="tile-header dvd dvd-btm"> <h1 class="custom-font"><strong>Social + News </strong>2,752 Visits</h1> <ul class="controls"> <li class="dropdown" dropdown on-toggle="toggled(open)"> <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a> <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp"> <li> <a href tile-control-toggle> <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span> <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span> </a> </li> <li> <a href tile-control-refresh ng-click="ajaxFaker()"> <fa name="refresh"></fa> Refresh </a> </li> <li> <a href tile-control-fullscreen ng-click="isFullscreen02 = !isFullscreen02"> <fa name="expand"></fa> Fullscreen </a> </li> </ul> </li> <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li> </ul> </div> <!-- /tile header --> <!-- tile widget --> <div class="tile-widget"> <div morris-donut-chart donut-data="donutData" style="height: 250px"></div> </div> <!-- /tile widget --> <!-- /tile body --> </section> <!-- /tile --> </div> <!-- /col --> <!-- col --> <div class="col-md-4"> <!-- tile --> <section class="tile" fullscreen="isFullscreen02" ng-controller="OtherSitesUsageCtrl"> <!-- tile header --> <div class="tile-header dvd dvd-btm"> <h1 class="custom-font"><strong>Main Site </strong>1,461 Visits</h1> <ul class="controls"> <li class="dropdown" dropdown on-toggle="toggled(open)"> <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a> <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp"> <li> <a href tile-control-toggle> <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span> <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span> </a> </li> <li> <a href tile-control-refresh ng-click="ajaxFaker()"> <fa name="refresh"></fa> Refresh </a> </li> <li> <a href tile-control-fullscreen ng-click="isFullscreen02 = !isFullscreen02"> <fa name="expand"></fa> Fullscreen </a> </li> </ul> </li> <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li> </ul> </div> <!-- /tile header --> <!-- tile widget --> <div class="tile-widget"> <div morris-donut-chart donut-data="donutData" style="height: 250px"></div> </div> <!-- /tile widget --> <!-- /tile body --> </section> <!-- /tile --> </div> <!-- /col --> </div> <!-- row --> <div class="row"> <!-- col --> <div class="col-md-12"> <!-- tile --> <section class="tile" fullscreen="isFullscreen06"> <!-- tile header --> <div class="tile-header dvd dvd-btm"> <h1 class="custom-font"><strong>Visited Sites</strong> Breakdown</h1> <ul class="controls"> <li class="dropdown" dropdown on-toggle="toggled(open)"> <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a> <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp"> <li> <a href tile-control-toggle> <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span> <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span> </a> </li> <li> <a href tile-control-refresh ng-click="ajaxFaker()"> <fa name="refresh"></fa> Refresh </a> </li> <li> <a href tile-control-fullscreen ng-click="isFullscreen06 = !isFullscreen06"> <fa name="expand"></fa> Fullscreen </a> </li> </ul> </li> <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li> </ul> </div> <!-- /tile header --> <!-- tile body --> <div class="tile-body table-custom" ng-controller="ProjectProgressCtrl"> <div class="table-responsive"> <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-custom"> <thead> <tr> <th>ID <th>Title <th>Link <th style="width: 180px">User <th style="width: 60px" class="text-right">When   <tbody> <tr ng-repeat="project in projects"> <td>{{ $index+1 }} <td>{{ project.title }} <td><small ng-class="{'text-danger': project.priority.value == 1, 'text-warning': project.priority.value == 2, 'text-success': project.priority.value == 3}">{{ project.priority.title }}</small> <td>Demo {{$index}} <td class="text-right"> 12:0{{$index}}:2{{$index+3}}   </table> </div> </div> <!-- /tile body --> </section> <!-- /tile --> </div> <!-- /col --> </div> <!-- /row --> <div class="row"> <!-- col --> <div class="col-md-4"> <!-- tile --> <section class="tile" fullscreen="isFullscreen03"> <!-- tile header --> <div class="tile-header dvd dvd-btm"> <h1 class="custom-font"><strong>Realtime </strong>Load</h1> <ul class="controls"> <li class="dropdown" dropdown on-toggle="toggled(open)"> <a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a> <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp"> <li> <a href tile-control-toggle> <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span> <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span> </a> </li> <li> <a href tile-control-refresh ng-click="ajaxFaker()"> <fa name="refresh"></fa> Refresh </a> </li> <li> <a href tile-control-fullscreen ng-click="isFullscreen03 = !isFullscreen03"> <fa name="expand"></fa> Fullscreen </a> </li> </ul> </li> <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li> </ul> </div> <!-- /tile header --> <!-- tile widget --> <div class="tile-widget mb-40"> <div class="progress-list mt-20"> <div class="details"> <div class="title text-lg" style="line-height: 30px"><strong>125</strong> Users Online</div> </div> <div class="status pull-right bg-greensea"> <span>21.4</span>% </div> <div class="clearfix"></div> <progressbar class="not-rounded" value="41" type="greensea"></progressbar> </div> </div> <!-- /tile widget --> <!-- tile body --> <div class="tile-body p-0" ng-controller="RealtimeLoadCtrl" style="height: 133px"> <rickshaw rickshaw-options="options1" rickshaw-features="features1" rickshaw-series="series1"> </rickshaw> </div> <!-- /tile body --> </section> <!-- /tile --> </div> <!-- /col --> </div> </div>