/* Defined DOM Elements */
body {
	padding: 0;
	background-color:#BE2026;
	background-image:url("../images/sapa-background.png");
	background-repeat: repeat-x;
}
hr {
	display: block;
	width: 940px;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0;
	padding: 0;
}
a {
	color:#fff;
	text-decoration:underline;
}
a:hover {
	color:#F00;
}
/* Defined Classes */
.btn-danger {
	background-color:#BE2026;
}
.primary {
	background-color:#333;
}
.secondary {
	background-color:#333;
	color:#000;
}
.header {
	margin: 0 auto;
	width:980px;
	height:167px;
	background:url("../images/sapa_banner.png") center top no-repeat;
}
.container {
	min-width:980px;
	max-width:980px;
}
.list-inline{
	padding:10px;
	background-color:#E33;
	margin:0px;
}
.list-inline a{
	font-weight:bolder;
	text-decoration:none;
	color:#FFF;
	padding:5px;
}
.list-inline a:hover{
	font-weight:bolder;
	text-decoration:none;
	color:#E33;
	background-color:#FFF;
}
.headline {
	padding-bottom:5px;
	padding-top:8px;
	padding-left:18px;
	font-family: Arial,sans-serif;
	font-weight: bold;
	font-size:28px;
	text-transform:uppercase;
	color: #000;
	line-height: 1.0;
}

ul.navigation li {
	display:inline;
	position:relative;
	top:70px;
	left:450px;
	padding-right:34px;
}
ul.navigation li a {
	color: #FFF;
	text-decoration:none;
	font-weight: bold;
	font-size:1.3em;
}
ul.navigation li a:hover {
	color: #CCC;
	text-decoration:none;
}
/* Defined Elements */
#SearchQuery {
	position:fixed;
	z-index:100;
}
#SearchQuery a:link{
	padding:0px;
}