<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <!--[if lte IE 8]><script>document.createElement('site-navigation');</script><![endif]-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ATROPIA State Television</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/main.css">
    <link rel="icon"
      type="image/png"
      href="favicon.png">
  </head>
  <body ng-app="gnnApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- START SITE CONTENT -->
    <!-- DIV ('.container') must have ng-controller defined as MainCtrl : data-ng-controller="MainCtrl" -->
    <div id="view" class="container" ng-controller="MainCtrl">
        <!-- START HEADER ELEMENT -->
        <!-- TABLE ('.header') has two elements 1.Logo and 2.Search see description below -->
        <table class="header">
            <tr>
                <td>
                    <!-- 1.Logo -->
                    <!-- Modify IMG SRC and ALT -->
                    <img src="images/ans_logo.png" width="306" height="70" alt="Atropian News Network">
                    <!-- 1.Logo END -->
                </td>
                <td class="pull-right" data-ng-cloak>
                    <!-- 2.Search -->
                    <!-- Form contains two elements, an input field that defines 'data-ng-model' as 'query.title' -->
                    <form id="searchForm" style="background-color:#FFF; display: block;">
                        <input type="text" size="60" data-ng-model="query.title" />
                        <img alt="Search" src="images/lupe_gross.png" width="24" height="24" />
                        <!-- Results are displayed in an UL element -->
                        <ul id="SearchQuery" class="list-group" data-ng-hide="!query.title">
                            <li data-ng-repeat="article in articles | filter:query" class="list-group-item">
                                <a href="#" data-ng-click="ReadArticle(article.id)" data-ng-bind="article.title"></a>
                            </li>
                        </ul>
                    </form>
                    <!-- 2.Search END -->
                </td>
            </tr>
        </table>
        <br/>
        <!-- END HEADER ELEMENT -->



        <!-- START NAVIGATION BAR -->
        <!-- DIV has three elements 1.HomeLink 2.MediaLink(disabled) and 3.SiteNavigation(AngularJS Directive) see description below -->
        <div class="row gradient">
            <!-- 1.HomeLink -->
            <!-- Hard links should be organized inside a UL element -->
            <!-- NOTE *** UL element is pulled to the left -->
            <ul class="list-inline pull-left">
                <li><a href="index.html">Home</a></li>
            </ul>
            <ul class="list-inline pull-right">
                <li></li>
                <li><a href="media.html"><img src="images/media.png" width="15" style="padding:0; margin:0">Media</a></li>
            </ul>
            <!-- 1.HomeLink END -->

            <!-- 2.MediaLink(disabled) -->
            <!-- NOTE *** UL element is pulled to the right w/ empty LI child
			<ul class="list-inline pull-right">
			    <li></li>
			    <li><a href="media.html"><img src="images/radio.png" width="15" style="padding:0; margin:0"> Media</a></li>
			</ul>-->
            <!-- 2.MediaLink END -->

            <!-- 3.SiteNavigation (AngularJS Directive) -->
            <!-- Categories will be displayed automatically based on Article Service -->
            <!-- NOTE *** you can attach 'class' and 'style' attributes to modify the element -->
            <site-navigation class="list-inline pull-right"></site-navigation>
            <!-- 3.SiteNavigation -->
        </div>
        <br/>
		<br/>
		<!-- Tier 4 Articles -->
		<div class="row secondary">
			<br/>
			<div class="col-xs-12">
				<h1 ng-bind="header | uppercase"></h1>
				<ul class="media-list list-group">
					<li ng-repeat="item in articles | StartIndex:0" class="media">
						<hr>
						<img src="{{media_url}}/article-images/{{item.media_filename}}" width="290" class="media-object img-thumbnail pull-left" style="margin-right:10px;" />
						<div class="media-body">
							<h4 class="media-heading"><a href="#" ng-click="ReadArticle(item.id)" ng-bind="item.title"></a></h4>
							<span ng-bind-html="item.body | blurbIt"></span><br/>
							<strong><a href="#" ng-click="ReadArticle(item.id)">Read More</a></strong>
						</div>
					</li>
				</ul>
			</div>
		</div>
    </div>
    <!-- END SITE CONTENT -->
    <!--[if lt IE 9]>
    <script src="scripts/support.min.js"></script>
    <![endif]-->
    <script src="scripts/vendors.min.js"></script>

    <!-- OAK-GNN v1.0 -->
    <script src="scripts/app.js"></script>
    <!-- Controllers -->
    <script src="scripts/controllers/main.js"></script>
    <!-- Services -->
    <script src="../../media/astv/SiteData.js"></script>
    <script src="../../media/astv/Weather.js"></script>
	<script src="../../media/astv/Slider.js"></script>
    <!-- Directives -->
    <script src="scripts/directives/sitenavigation.js"></script>
</body>
</html>
