<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>U.S. Department of State</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/vendor.css">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body data-ng-app="gnnApp" data-ng-controller="MainCtrl" data-ng-cloak="">
<!--[if lt IE 7]>
<p class="browsehappy text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_browsehappy">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Add your site or application content here -->
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li><a href="index.html" class="btn-success">COVER</a></li>
            <li><a href="category.html?cat=all" class="btn-success">CATEGORY</a></li>
            <li><a href="article.html?id=1" class="btn-success">ARTICLE</a></li>
            <li><a href="media.html" class="btn-success">MEDIA PlAYER</a></li>
        </ul>
        <h3 class="text-muted">OSS Template</h3>
    </div>

    <site-navigation class="list-inline text-center" subclass="btn btn-success" items="categories"></site-navigation>

    <div class="row marketing">
        <h4 data-ng-bind="article.title" class="text-center"></h4>
        <hr>
        <p>
            <media-player url="article.media_filename" placeholder="_placeholder.png" type="{{article.media_type}}"></media-player>
        </p>
        <hr>
        <p>
        <div class="row">
            <div class="col-xs-4">
                <small>
                    <strong>DATE: </strong> {{article.timestamp}}
                </small>
            </div>
            <div class="col-xs-4">
                <small>
                    <strong>CATEGORY: </strong> {{article.category}}
                </small>
            </div>
            <div class="col-xs-4">
                <small>
                    <strong>MEDIA TYPE: </strong> {{article.media_type}}
                </small>
            </div>
        </div>
        </p>
        <p class="small text-justify" data-ng-bind-html="article.body"></p>
        <a data-ng-href="category.html?cat={{ article.category }}" class="btn btn-success btn-block">View All In "{{ article.category }}" Category</a>
    </div>


    <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
    </div>
</div>

<!--[if lt IE 9]>
<script src="scripts/support.js"></script>
<![endif]-->

<script src="scripts/vendor.js"></script>

<script src="scripts/gnn-app.js"></script>

<!-- //build:js(app) ../../media/id/SiteData.js -->
<script src="scripts/services/SiteData.js"></script>
<!-- //endbuild -->
</body>
</html>
