<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>U.S. Department of State</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/vendor.css">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body data-ng-app="gnnApp" data-ng-controller="MainCtrl" data-ng-cloak="">
<!--[if lt IE 7]>
<p class="browsehappy text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_browsehappy">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Add your site or application content here -->
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li><a href="index.html" class="btn-success">COVER</a></li>
            <li><a href="category.html?cat=all" class="btn-success">CATEGORY</a></li>
            <li><a href="article.html?id=1" class="btn-success">ARTICLE</a></li>
            <li><a href="media.html" class="btn-success">MEDIA PlAYER</a></li>
        </ul>
        <h3 class="text-muted">OSS Template</h3>
    </div>

    <site-navigation class="list-inline text-center" subclass="btn btn-success" items="categories"></site-navigation>

    <div class="jumbotron" data-ng-if="videoArticles">
        <h1>Video Media</h1>
        <div class="container">
            <div class="row text-left">
                <div class="col-xs-8">
                    <media-player url="article.media_filename" placeholder="_placeholder.png" type="{{article.media_type}}"></media-player>
                    <h4 data-ng-bind="article.title"></h4>
                    <p>
                    <div class="row">
                        <div class="col-xs-4">
                            <small>
                                <strong>DATE: </strong><br>{{article.timestamp}}
                            </small>
                        </div>
                        <div class="col-xs-4">
                            <small>
                                <strong>CATEGORY: </strong><br>{{article.category}}
                            </small>
                        </div>
                        <div class="col-xs-4">
                            <small>
                                <strong>MEDIA TYPE: </strong><br>{{article.media_type}}
                            </small>
                        </div>
                    </div>
                    </p>
                    <a href="article.html?id={{ article.id }}" class="btn btn-block btn-success">View in Article Mode</a>
                </div>
                <div class="col-xs-4">
                    <div class="list-group">
                        <a style="text-transform:capitalize;" class="list-group-item small" href="javascript:void(0);" data-ng-click="PlayVideo(article.id)" data-ng-repeat="article in videoArticles" data-ng-bind="article.title"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron" data-ng-if="audioArticles">
        <h1>Audio Media</h1>
        <div class="container">
            <div class="row text-left">
                <div class="col-xs-12">
                    <div class="list-group">
                        <div class="media" data-ng-repeat="article in audioArticles">
                            <h4 data-ng-bind="article.title"></h4>
                            <media-player url="article.media_filename" placeholder="_placeholder.png" type="{{article.media_type}}"></media-player>
                            <p>
                            <div class="row">
                                <div class="col-xs-4">
                                    <small>
                                        <strong>DATE: </strong><br>{{article.timestamp}}
                                    </small>
                                </div>
                                <div class="col-xs-4">
                                    <small>
                                        <strong>CATEGORY: </strong><br>{{article.category}}
                                    </small>
                                </div>
                                <div class="col-xs-4">
                                    <small>
                                        <strong>MEDIA TYPE: </strong><br>{{article.media_type}}
                                    </small>
                                </div>
                            </div>
                            </p>
                            <p class="text-center" data-ng-show="!$index">--</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
    </div>
</div>

<!--[if lt IE 9]>
<script src="scripts/support.js"></script>
<![endif]-->

<script src="scripts/vendor.js"></script>

<script src="scripts/gnn-app.js"></script>

<!-- //build:js(app) ../../media/id/SiteData.js -->
<script src="scripts/services/SiteData.js"></script>
<!-- //endbuild -->
</body>
</html>
