<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/vendor.css">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body data-ng-app="gnnApp" data-ng-controller="MainCtrl" data-ng-cloak="">
<!--[if lt IE 7]>
<p class="browsehappy text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_browsehappy">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Add your site or application content here -->
<div class="container">
    <div class=header>
        <ul class="nav nav-pills" role=tablist>
            <li role=presentation><a href=index.html#aboutus>About Us</a></li>
            <li role=presentation><a href=index.html#whatwedo>What We Do</a></li>
            <li role=presentation><a href=index.html#spotlight>The High Commissioner</a></li>
        </ul>
    </div>

    <!--<site-navigation class="list-inline text-center" subclass="btn btn-success" items="categories"></site-navigation>-->

    <div class="row" style="background:#FFF;">
        <div class="row">
            <div class=col-xs-12>
                <h1 id="title" data-ng-bind="article.title"></h1>
            </div>
        </div>
        <div class="row" style="padding:15px;">
            <div class="col-xs-12">
                <div data-ng-if="article.timestamp">
                    <p><small data-ng-bind="article.timestamp"></small></p>
                </div>
                <div data-ng-if="article.media_type=='image'">
                    <media-player url="article.media_filename" placeholder="_placeholder.png" type="{{article.media_type}}" style="margin:0 0 5px 5px" class="img-thumbnail pull-right"></media-player>

                    <!--<media-player url="{{article.media_filename}}" placeholder="_placeholder.png" type="{{article.media_type}}" style="margin:0 0 5px 5px" class="img-thumbnail pull-right"></media-player>-->
                </div>
                <p data-ng-bind-html="article.body"></p>
                <a data-ng-href="index.html" class="readmore">Return Home</a>
            </div>
    </div>


    <div class="footer">
        <p><img src=images/bg-footer.gif></p>
    </div>
</div>

    <!--[if lt IE 9]>
    <script src="scripts/support.js"></script>
    <![endif]-->

    <script src="scripts/vendor.js"></script>

    <script src="scripts/app.js"></script>

    <script src="../../media/unhcr/SiteData.js"></script>
</body>
</html>
