<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css(app/..) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body data-ng-app="gnnApp" data-ng-controller="MainCtrl" data-ng-cloak="">
<!--[if lt IE 7]>
<p class="browsehappy text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_browsehappy">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Add your site or application content here -->
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li><a href="index.html" class="btn-success">COVER</a></li>
            <li><a href="category.html?cat=all" class="btn-success">CATEGORY</a></li>
            <li><a href="article.html?id=1" class="btn-success">ARTICLE</a></li>
            <li><a href="media.html" class="btn-success">MEDIA PlAYER</a></li>
        </ul>
        <h3 class="text-muted">OSS Template</h3>
    </div>

    <site-navigation class="list-inline text-center" subclass="btn btn-success" items="categories"></site-navigation>

    <h1 data-ng-bind="header"></h1></h1>
    <hr>

    <div class="row marketing">
        <div class="well" data-ng-repeat="article in articles">
            <h4 data-ng-bind="article.title"></h4>
            <p><small><strong>DATE: </strong> {{article.timestamp}}</small></p>
            <p><small><strong>CATEGORY: </strong> {{article.category}}</small></p>
            <p><small><strong>MEDIA TYPE: </strong> {{article.media_type}}</small></p>
            <p class="small text-justify" data-ng-bind-html="article.body | Preview"></p>
            <a data-ng-href="article.html?id={{ article.id }}" class="btn btn-success btn-block">Read More</a>
        </div>
    </div>


    <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
    </div>
</div>

<!--[if lt IE 9]>
<!-- build:js(app/..) scripts/support.js -->
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<!-- endbuild -->
<![endif]-->

<!-- build:js(app/..) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/gnn-app.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/directives/site-navigation.js"></script>
<script src="scripts/directives/media-player.js"></script>
<!-- endbuild -->

<!-- //build:js(app) ../../media/id/SiteData.js -->
<script src="scripts/services/SiteData.js"></script>
<!-- //endbuild -->
</body>
</html>
