/* Defined DOM Elements */
body {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color:#CCC;
	background:#007979 url(../images/ans_background.png) repeat-x fixed top;
}
hr {
	display: block; 
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
a {
	color:#666;
	text-decoration:underline;
}

/* Defined Classes */
.primary {
	background-color:#CCC;
}
.secondary {
	background-color:#FFF;
	color:#000;
}
.header {
	width:949px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:15px;
}
.gradient {
	padding:15px;
	height: 50px;
	background-image:url('../images/navigation_background.png');
    background-repeat:repeat;
}
.gradient a{
	font-weight:bolder;
	padding:5px;
	color:#666;
	background-color:#FFF;
	text-decoration:none;
}
.gradient a:hover{
	color:#666;
	background-color:#099;
	text-decoration:none;
}
.container {
	min-width:980px;
	max-width:980px;
}

/* Audio Player */
.Player {
	color:#FFF;
	height:24px;
}
.Player-Button {
	padding:2px;
	text-align: center;
	width:48px;
	background-color:#6CC;
}
.Player-Button:hover {
	padding:2px;
	text-align: center;
	background-color:#099;
	cursor: pointer;
}
.Player-Progress{
	padding:2px;
	text-align: left;
	width:86%;
	height:24px;
	background-color:#CCC;
	margin: 0px 5px;
}
.Player-Timer{
	width:74px;
	height:24px;
	background-color:#099;
}


/* Defined Elements */
#SearchQuery {
	position:fixed;
	z-index:100;
}
#SearchQuery a:link{
	padding:0px;
}