<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SAPA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="gnnApp" data-ng-controller="MainCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
	<div class="header">
		<div class="col-xs-12" style="padding-left:0px">
			<ul class="navigation">
				<li><a href="index.html">HOME</a></li>
				<li><a href="pages/about.html">ABOUT US</a></li>
				<li><a href="category.html">LATEST NEWS</a></li>
			</ul>
		</div>
	</div>
    <div id="view" class="container">
		<!-- Content -->
		<!-- Jumbotron -->
		<div class="row secondary">
			<div class="col-xs-4" data-ng-if="article.title" style="color:#FFF;">
				<h3 data-ng-bind="article.title"></h3>
 				<p class="text-justify" data-ng-bind-html="article.body | blurbIt"></p>
				<br/>
				<button class="btn btn-danger" data-ng-click="ReadArticle(article.id)">Read More</button>
			</div>
			<div class="col-xs-8" style="padding-left:3px;">
				<img data-ng-src="{{media_url}}/article-images/{{article.media_filename}}" width="650" data-ng-if="article" />
			</div>
		</div>
		<!-- Tier 2 Articles -->
		<div class="row well">
  			<div class="row">
  				<div class="col-xs-3 ">
					<a href="javascript:void(0);" data-ng-click="ShowArticle(0)">
						<img data-ng-src="{{media_url}}/article-images/{{articles[0].media_filename}}" width="200" /><br/>
						<strong data-ng-bind="articles[0].title"></strong>
					</a>
				</div>
  				<div class="col-xs-3">
					<a href="javascript:void(0);" data-ng-click="ShowArticle(1)">
						<img data-ng-src="{{media_url}}/article-images/{{articles[1].media_filename}}" width="200" /><br/>
						<strong data-ng-bind="articles[1].title"></strong>
					</a>
				</div>
  				<div class="col-xs-3">
					<a href="javascript:void(0);" data-ng-click="ShowArticle(2)">
						<img data-ng-src="{{media_url}}/article-images/{{articles[2].media_filename}}" width="200" /><br/>
						<strong data-ng-bind="articles[2].title"></strong>
					</a>
				</div>
  				<div class="col-xs-3">
					<a href="javascript:void(0);" data-ng-click="ShowArticle(3)">
						<img data-ng-src="{{media_url}}/article-images/{{articles[3].media_filename}}" width="200" /><br/>
						<strong data-ng-bind="articles[3].title"></strong>
					</a>
				</div>
  			</div>
		</div>
		
    </div>
    <!--[if lt IE 9]>
    <script src="scripts/support.min.js"></script>
    <![endif]-->
    <script src="scripts/vendors.min.js"></script>
    <!-- Project -->
	<script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    
	<script src="../../media/sapa/SiteData.js"></script>
	
</body>
</html>
